<section id="footer-section">
    <div class="container py-4" >
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <figure>
            <img src="assets/images/fot-logo.svg" alt="intro">
          </figure>
          <div class="icons">
              <figure>
               <img src="assets/images/icon-facebook.svg" alt="intro">
                </figure>
                <figure>
                    <img src="assets/images/icon-youtube.svg" alt="intro">
                  </figure>
                  <figure>
                      <img src="assets/images/icon-twitter.svg" alt="intro">
                    </figure>
                    <figure>
                        <img src="assets/images/icon-instagram.svg" alt="intro">
                      </figure>
                      <figure>
                          <img src="assets/images/icon-pinterest.svg" alt="intro">
                        </figure>
          </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-12">
     <ul>
  
       <li>About Us</li>
       <li>Contact</li>
       <li>Blog</li>
     </ul>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <ul>
            <li> Careers</li>
            <li>Support</li>
            <li>Privacy Policy</li>
         
          </ul>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <form>
          <button>Request Invite</button>
        </form>
        <p>© Easybank. All Rights Reserved</p>
        </div>
  </div>
  </div>
  </section>    
