<!-- top header start -->
<section class="header">
    <div class="container h-100 w-100 py-4 mx-auto" >
       
        <div class="row h-100 m-0 p-0 my-2 w-100  align-items-center ">
          <div class="col-md-6 order-md-1 order-2 text-md-left text-center py-4 " data-aos="fade-right" data-aos-delay="20"  data-aos-duration="1250">
            <h4 class="font-weight-light"><b>Next generation digital banking</b></h4>
            <div class="description py-3">
            <p>
              Take your financial life online. Your Easybank account will be a one-stop-shop 
    for spending, saving, budgeting, investing, and much more
         </p>
       
        </div>
           <button class=" btn btn-custom">Request Invite</button>
          </div>
          <div class="col-md-6 order-md-2 order-1 text-center p-0 custom-bg" data-aos="fade-left" data-aos-delay="20"  data-aos-duration="1250">
            
            <img  src="assets/images/image-mockups.png"  alt=" Image"  class="img-fluid">
            <img src="assets/images/bgheader.svg" alt="bgimg">
          </div>
        </div>
      </div>


</section>

<!-- top header end -->

