$nav-bg:#ffffff;
$nav-txt:hsl(233, 8%, 62%);
$nav-txt-hover:#272c42;
$nav-bg-hover:#ff6640e0;
$head-txt:#282e52;
$para-clr: hsl(227, 12%, 61%);
$first-bg:hsl(0, 0%, 98%);
$second-bg:hsl(220, 16%, 96%);
$third-bg:hsl(0, 0%, 100%);
$footer-bg:hsl(233, 26%, 24%);
$footer-hover:hsl(136, 65%, 51%);
$website-font:'Public Sans',sans-serif;



